## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis = 1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_count = application_df['APPLICATION_TYPE'].value_counts()
app_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = app_count[app_count<500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_count = application_df['CLASSIFICATION'].value_counts()
class_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_count[class_count>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = class_count[class_count<1800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(['IS_SUCCESSFUL'], axis = 1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
input_layers = len(X_train[0])
hidden_layer_1 = 80
hidden_layer_2 = 30
hidden_layer_3 = 80
hidden_layer_4 = 30
hidden_layer_5 = 80
hidden_layer_6 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1, input_dim=input_layers))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation('relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_2))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation('relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_3, input_dim=input_layers))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation('relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_4))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation('relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Fifth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_5, input_dim=input_layers))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation('relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Sixth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_6))
nn.add(tf.keras.layers.BatchNormalization())
nn.add(tf.keras.layers.Activation('relu'))
nn.add(tf.keras.layers.Dropout(0.2))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the model with learning rate decay
initial_learning_rate = 0.1
lr_schedule = tf.keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate, decay_steps=100000, decay_rate=0.96, staircase=True)

optimizer = tf.keras.optimizers.RMSprop(learning_rate=lr_schedule)

nn.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 80)                3520

 batch_normalization (BatchN  (None, 80)               320
 ormalization)

 activation (Activation)     (None, 80)                0

 dropout (Dropout)           (None, 80)                0

 dense_17 (Dense)            (None, 30)                2430

 batch_normalization_1 (Batc  (None, 30)               120
 hNormalization)

 activation_1 (Activation)   (None, 30)                0

 dropout_1 (Dropout)         (None, 30)                0

 dense_18 (Dense)            (None, 80)                2480

 batch_normalization_2 (Batc  (None, 80)               320
 hNormalization)

 activation_2 (Activation)   (None, 80)                0

 dropout_2 (Dropout)         (None, 80)                0

 dense_19 (Dense)            (None, 30)                2430

 batch_normalization_3 (Batc  (None, 30)               120
 hNormalization)

 activation_3 (Activation)   (None, 30)                0

 dropout_3 (Dropout)         (None, 30)                0

 dense_20 (Dense)            (None, 80)                2480

 batch_normalization_4 (Batc  (None, 80)               320
 hNormalization)

 activation_4 (Activation)   (None, 80)                0

 dropout_4 (Dropout)         (None, 80)                0

 dense_21 (Dense)            (None, 30)                2430

 batch_normalization_5 (Batc  (None, 30)               120
 hNormalization)

 activation_5 (Activation)   (None, 30)                0

 dropout_5 (Dropout)         (None, 30)                0

 dense_22 (Dense)            (None, 1)                 31

=================================================================
Total params: 17,121
Trainable params: 16,461
Non-trainable params: 660
_________________________________________________________________

In [25]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 9s 6ms/step - loss: 0.6411 - accuracy: 0.6640
Epoch 2/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5902 - accuracy: 0.7125
Epoch 3/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5807 - accuracy: 0.7196
Epoch 4/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5745 - accuracy: 0.7241
Epoch 5/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5718 - accuracy: 0.7251
Epoch 6/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5699 - accuracy: 0.7247
Epoch 7/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5684 - accuracy: 0.7256
Epoch 8/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5661 - accuracy: 0.7269
Epoch 9/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5662 - accuracy: 0.7281
Epoch 10/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5655 - accuracy: 0.7279
Epoch 11/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5635 - accuracy: 0.7266
Epoch 12/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5629 - accuracy: 0.7267
Epoch 13/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5607 - accuracy: 0.7298
Epoch 14/100
804/804 [==============================] - 6s 7ms/step - loss: 0.5609 - accuracy: 0.7297
Epoch 15/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5629 - accuracy: 0.7304
Epoch 16/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5611 - accuracy: 0.7290
Epoch 17/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5595 - accuracy: 0.7328
Epoch 18/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5585 - accuracy: 0.7325
Epoch 19/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5585 - accuracy: 0.7319
Epoch 20/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5591 - accuracy: 0.7310
Epoch 21/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5598 - accuracy: 0.7305
Epoch 22/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5579 - accuracy: 0.7315
Epoch 23/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5592 - accuracy: 0.7315
Epoch 24/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5561 - accuracy: 0.7317
Epoch 25/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5561 - accuracy: 0.7332
Epoch 26/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5574 - accuracy: 0.7310
Epoch 27/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5577 - accuracy: 0.7309
Epoch 28/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5571 - accuracy: 0.7317
Epoch 29/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5555 - accuracy: 0.7342
Epoch 30/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5566 - accuracy: 0.7320
Epoch 31/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5554 - accuracy: 0.7325
Epoch 32/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5562 - accuracy: 0.7317
Epoch 33/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5558 - accuracy: 0.7307
Epoch 34/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5570 - accuracy: 0.7327
Epoch 35/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5568 - accuracy: 0.7322
Epoch 36/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5552 - accuracy: 0.7326
Epoch 37/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5552 - accuracy: 0.7311
Epoch 38/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5537 - accuracy: 0.7331
Epoch 39/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5554 - accuracy: 0.7324
Epoch 40/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5557 - accuracy: 0.7303
Epoch 41/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5540 - accuracy: 0.7298
Epoch 42/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5554 - accuracy: 0.7331
Epoch 43/100
804/804 [==============================] - 5s 7ms/step - loss: 0.5569 - accuracy: 0.7334
Epoch 44/100
804/804 [==============================] - 7s 8ms/step - loss: 0.5529 - accuracy: 0.7332
Epoch 45/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5569 - accuracy: 0.7328
Epoch 46/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5543 - accuracy: 0.7329
Epoch 47/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5534 - accuracy: 0.7343
Epoch 48/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5555 - accuracy: 0.7309
Epoch 49/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5535 - accuracy: 0.7323
Epoch 50/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5536 - accuracy: 0.7325
Epoch 51/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5522 - accuracy: 0.7342
Epoch 52/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5546 - accuracy: 0.7330
Epoch 53/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5544 - accuracy: 0.7338
Epoch 54/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5536 - accuracy: 0.7341
Epoch 55/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5526 - accuracy: 0.7345
Epoch 56/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5539 - accuracy: 0.7342
Epoch 57/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5547 - accuracy: 0.7338
Epoch 58/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5537 - accuracy: 0.7325
Epoch 59/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5536 - accuracy: 0.7323
Epoch 60/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5530 - accuracy: 0.7320
Epoch 61/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5525 - accuracy: 0.7335
Epoch 62/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5527 - accuracy: 0.7349
Epoch 63/100
804/804 [==============================] - 4s 6ms/step - loss: 0.5529 - accuracy: 0.7338
Epoch 64/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5528 - accuracy: 0.7342
Epoch 65/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5534 - accuracy: 0.7322
Epoch 66/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5530 - accuracy: 0.7327
Epoch 67/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5519 - accuracy: 0.7327
Epoch 68/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5527 - accuracy: 0.7336
Epoch 69/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5516 - accuracy: 0.7345
Epoch 70/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5546 - accuracy: 0.7346
Epoch 71/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5529 - accuracy: 0.7350
Epoch 72/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5521 - accuracy: 0.7339
Epoch 73/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5529 - accuracy: 0.7347
Epoch 74/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5522 - accuracy: 0.7336
Epoch 75/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5514 - accuracy: 0.7359
Epoch 76/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5524 - accuracy: 0.7342
Epoch 77/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5525 - accuracy: 0.7329
Epoch 78/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5528 - accuracy: 0.7336
Epoch 79/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5520 - accuracy: 0.7351
Epoch 80/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5541 - accuracy: 0.7348
Epoch 81/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5509 - accuracy: 0.7357
Epoch 82/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5518 - accuracy: 0.7341
Epoch 83/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5525 - accuracy: 0.7343
Epoch 84/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5529 - accuracy: 0.7340
Epoch 85/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5517 - accuracy: 0.7351
Epoch 86/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5518 - accuracy: 0.7336
Epoch 87/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5500 - accuracy: 0.7353
Epoch 88/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5528 - accuracy: 0.7333
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5521 - accuracy: 0.7347
Epoch 90/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5511 - accuracy: 0.7345
Epoch 91/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5528 - accuracy: 0.7359
Epoch 92/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5515 - accuracy: 0.7329
Epoch 93/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5521 - accuracy: 0.7341
Epoch 94/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5523 - accuracy: 0.7338
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5513 - accuracy: 0.7357
Epoch 96/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5514 - accuracy: 0.7339
Epoch 97/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5499 - accuracy: 0.7358
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5504 - accuracy: 0.7360
Epoch 99/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5513 - accuracy: 0.7358
Epoch 100/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5505 - accuracy: 0.7349

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5564 - accuracy: 0.7229 - 876ms/epoch - 3ms/step
Loss: 0.5563771724700928, Accuracy: 0.7229154706001282

In [28]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_optimization.h5')